<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <caption>О пользователе</caption>
    <div th:each ="user : ${user}">
        <tr><td><div th:text="${user.getId}"></div></td><td><div th:text="${user.getName}"></div></td>
            <td><div th:text="${user.getSurName()}"></div></td><td><div th:text="${user.getEmail()}"></div></td>
    </div>
</table>
<form th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>